<section class="footer">
  <div class="box-container">
    <div class="box">
      <h3>nos emplacements</h3>
      <a href="#"><i class="fas fa-map-marker-alt"></i> inde</a
      ><a href="#"><i class="fas fa-map-marker-alt"></i> USA</a
      ><a href="#"><i class="fas fa-map-marker-alt"></i> russie</a
      ><a href="#"><i class="fas fa-map-marker-alt"></i> france</a
      ><a href="#"><i class="fas fa-map-marker-alt"></i> japon</a
      ><a href="#"><i class="fas fa-map-marker-alt"></i> cameroun</a>
    </div>
    <div class="box">
      <h3>Liens rapides</h3>
      <a href="#"><i class="fas fa-arrow-right"></i> acceuil</a
      ><a href="#"><i class="fas fa-arrow-right"></i> vedette</a
      ><a href="#"><i class="fas fa-arrow-right"></i> nouveautes</a
      ><a href="#"><i class="fas fa-arrow-right"></i> revue</a
      ><a href="#"><i class="fas fa-arrow-right"></i> blogs</a>
    </div>
    <div class="box">
      <h3>extra links</h3>
      <a href="#"><i class="fas fa-arrow-right"></i> informations de compte</a
      ><a href="#"><i class="fas fa-arrow-right"></i> articles commandés</a
      ><a href="#"
        ><i class="fas fa-arrow-right"></i> politique de confidentialité</a
      ><a href="#"><i class="fas fa-arrow-right"></i> mode de paiement</a
      ><a href="#"><i class="fas fa-arrow-right"></i> nos services</a>
    </div>
    <div class="box">
      <h3>contacts</h3>
      <a href="#"><i class="fas fa-phone"></i> +21655675265</a
      ><a href="#"><i class="fas fa-phone"></i> +21612345678</a
      ><a href="#"><i class="fas fa-envelope"></i> axelib@gmail.com</a
      ><img class="map" src="images/worldmap.png" alt="" />
    </div>
  </div>
  <div class="share">
    <a class="fab fa-facebook-f" href="#"></a
    ><a class="fab fa-twitter" href="#"></a
    ><a class="fab fa-instagram" href="#"></a
    ><a class="fab fa-linkedin" href="#"></a
    ><a class="fab fa-pinterest" href="#"></a>
  </div>
  <div class="credit">
    created by <span>axelib</span> | all rights reserved!
  </div>
</section>
<!-- footer section ends-->
<!-- loader-->
<div class="loader-container"><img src="images/loader-img.gif" alt="" /></div>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<!-- custom js file link-->
<script src="javascripts/script.js"></script>
