<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Axelib</title>
  <link
    rel="stylesheet"
    href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
  />
  <!-- font awesome cdn link-->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  />
  <!-- custom css file link-->
  <link rel="stylesheet" href="stylesheets/style.css" /></head
><!-- header section starts-->
<header class="header">
  <div class="header-1">
    <a class="logo" href="#"><i class="fas fa-book"></i> Axelib</a>
    <form class="search-form" action="">
      <input
        id="search-box"
        type="search"
        name=""
        placeholder="Entrez votre recherche..."
      /><label class="fas fa-search" for="search-box"></label>
    </form>
    <div class="icons">
      <div class="fas fa-search" id="search-btn"></div>
      <a class="fas fa-heart" href="#"></a
      ><a class="fas fa-shopping-cart" href="#"></a>
      <div class="fas fa-user" id="login-btn" href="/login"></div>
      <div class="fas fa-user" id="register-btn"></div>
    </div>
  </div>
  <div class="header-2">
    <nav class="navbar">
      <a href="#home">acceuil</a><a href="#featured">vedette</a
      ><a href="#arrivals">nouveautes</a><a href="#reviews">revues</a
      ><a href="#blogs">blogs</a>
      <a href="/login">Login</a>
      <a href="/register">register</a>
    </nav>
  </div>
</header>
