<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>
	<link href="https://releases.transloadit.com/uppy/v2.2.3/uppy.min.css" rel="stylesheet">
	<link rel="stylesheet" href="./css/main.css">
	
    <script type="text/javascript">
	  var socket = io();
	  window.onload = function() {
	    //socket.emit("driver");
		  let button = document.querySelector("#button");
		  button.disabled = true;
	  };
	</script>

	<script type="text/javascript">
		$(document).ready(function(){
			$( "#form" ).submit(function(event) {
				event.preventDefault();
				console.log(document.querySelector('#lab').value);
				console.log(document.querySelector('#email').value);
				console.log(document.querySelector('#email').value === document.querySelector('#lab').value);
				if(document.querySelector('#lab').value === document.querySelector('#email').value)
				{
				$.ajax({
					type: 'POST',
					url: '/login',
					data: $('#form').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form')[0].reset();

						document.getElementById("check").innerHTML=response.Success;
         					//ADD THIS CODE
         					setTimeout(function(){
         						document.getElementById("check").innerHTML="";
         					},3000);
         					if (response.Success=="Success!") {
         						document.getElementById("aa").click();
         					};
         				},
         				error: function() {
         				}
         			})}
					else {
						let button = document.querySelector("#button");
		  				button.disabled = true;
					}

			});
		});
	</script>
</head>
<body>
	<div class="col-md-4 col-md-offset-4">
		<div>
			<p>Login</p>
		</div>
		<div class="form-group">
			<form id="form" method="post" >
				<input type="text" id="email" name="email" placeholder="E-mail" required="" class="form-control"><br/>
				<input type="password" name="password" placeholder="Password" required="" class="form-control">
				<input type="hidden" id="lab" name="g_label"><br/>				
				<div id ="drag-drop-area"></div>
				<p id="errp"></p>
				<input type="submit" id="button" value="Login" class="btn btn-success">
			</form>
		</div>
		<div class="mssg bg-danger">
			<span id="check" ></span>
		</div>
		<div id="LangTable"><a href="/profile" id="aa"></a>
		</div>
		<div><span>Do you forgot password?</span><a href="/forgetpass">Click here</a>
		<div><span>Create a new Account?</span><a href="/">Register here</a>

		</div>
		
	</div>
	<script src="https://releases.transloadit.com/uppy/v2.2.3/uppy.min.js"></script>
    <script>
      var uppy = new Uppy.Core()
        .use(Uppy.Dashboard, {
          inline: true,
          target: '#drag-drop-area'
        })
		.use(Uppy.Webcam,{target:Uppy.Dashboard})
		.use(Uppy.XHRUpload,{
			endpoint: 'http://127.0.0.1:3080/check-face',
			fieldName: 'File1',
			formData: true, 
			timeout:120000,
			headers:{
				'Access-Control-Allow-Origin': 'origin-list'
			}
		});
		
		uppy.on('upload-success', (file,response) => {
		  const label = response.body.result;
		  let button = document.querySelector('#button');
		  let err = document.querySelector("#errp");
		  button.disabled = true;
		  err.value='';
		  if (label.length === 0) {
		  	button.disabled = true;			
			err.value='retake your picture in better conditions !';  
		  }else{
			err.value='';  
			if (label[0]._label === 'unknown') {
				button.disabled = true;
				err.value='unknown ! retry';  
			}
			else{
				document.querySelector('#lab').value = label[0]._label;
		  		button.disabled = false;
			}
		  }
		});
	</script>
</body>
</html>